main {
  max-width: 1920px;
  margin: auto !important;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container {
  padding: 1%;
  width: 100%;
}
#addItem {
  background-color: green;
  padding: 1%;
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#formAddItem {
  background-color: red;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.inputDiv {
  display: flex;
  justify-content: space-between;
}
.inputDiv div {
  /* display: flex; */
  width: 30%;
}
.inputDiv div input {
  /* display: flex; */
  width: 100%;
}
#descriptionItem {
  resize: none;
  height: 100px;
}
.formEdit {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableProducts {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  overflow-y: scroll;
}

#products {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#products td,
#products th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
#products tr {
  background-color: #f2f2f2;
}
/* #products tr:nth-child(even) {
  background-color: #f2f2f2;
} */

#products tr:hover {
  background-color: #ddd;
}

#products th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}

#IDProduct {
  width: 5%;
}
#NameProduct {
  width: 45%;
}
#DateProduct {
  width: 15%;
}
#PrixProduct {
  width: 10%;
}
#StockProduct {
  width: 10%;
}
#IDCategoryProduct {
  width: 5%;
}
#EditProduct {
  width: 5%;
}
#DeleteProduct {
  width: 5%;
}
.closeProduct {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #04aa6d;
  padding: 1%;
}
#close {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #fff;
}
tbody button {
  border: none;
}
tbody button a {
  color: #000;
}
