main {
  max-width: 1920px;
  margin: auto !important;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container {
  background-color: var(--section-color);
  padding: 2% 2% !important;
  display: flex;
  justify-content: center;
  width: 95%;
}
/* ------------------------------------------------- */
.sectionCart {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 70%;
  /* justify-content: center; */

  background-color: var(--div-color);
  border: 1px solid var(--border-color);
  /* display: flex; */
  border-radius: 20px;
  padding: 2% 2% !important;
}
.sectionCart h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 2% !important;
}
.cart {
  background-color: var(--nav-color);
  padding: 1% !important;
  border-radius: 10px;
}
/* ------------------------------------------------- */

.banniere {
  display: flex;
  color: #fff;
  background-color: var(--border-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1% !important;

  /* width: 100%; */
}
.banniere > p:nth-child(1) {
  width: 70%;
}
.banniere > p:nth-child(2) {
  width: 20%;
}
.banniere > form {
  width: 10%;
}
.banniere > * {
  text-align: center;
  /* border: 1px solid yellow; */
}
.vider {
  color: #fff;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}
/* ------------------------------------------------- */

.cartDetail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1% !important;
}
.cartDetail > * {
  border: 1px solid red;
}
.cartDetail > p {
  width: 20%;
}
.cartDetail form {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartProduct {
  display: flex;
  width: 70%;
  padding: 1% !important;
}
.cartProduct img {
  width: 25%;
  border-radius: 20px;
  margin-right: 2% !important;
}
.cartProduct a {
  color: #fff;
  width: 100%;
  text-decoration: none;
}
/* ------------------------------------------------- */
.name {
  font-size: 1.8rem;
}
.cartProduct a:hover {
  text-decoration: underline;
}
.stock {
  color: #fff;
  font-size: 1.8rem;
}
.price {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#delete {
  color: #fff;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-size: 1.5rem;
}
/* -------------------------------------------- */
.formOrder {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}
.formOrderAddress {
  width: 70%;
  display: flex;
  justify-content: center;
}
.formOrderValide {
  width: 30%;
  display: flex;
  justify-content: center;
}
.formOrder select {
  width: 50%;
  padding: 1% !important;
  background-color: transparent;
  border-radius: 10px;
  color: #fff;
}
.formOrder select option {
  padding: 1% !important;
  background-color: var(--nav-color);
}

.formOrder input {
  width: 100%;
  padding: 1% 2% !important;
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
  color: #fff;
}
/* --------------------------- */
.total {
  display: flex;
  justify-content: center;
  padding: 1% 0 !important;
}
.totalDetail {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0 !important;
  border: 1px solid var(--text-input-color);
  border-radius: 10px;
  background-color: var(--border-color);
  color: #fff;
}
hr {
  width: 70%;
  border: 1px solid var(--button-color) !important;
}
.priceTotal {
  /* border-top: 1px solid black; */
}
