/* MAIN OU BODY A VOIR */
main {
  max-width: 1920px;
  margin: auto !important;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container {
  background-color: var(--section-color);
  display: flex;
  justify-content: center;
  width: 95%;
  border-radius: 20px;
  margin: 1% 0 !important;
}
.form {
  width: 40%;
  display: flex;
  justify-content: center;
}
#formLogin {
  background-color: var(--div-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  padding: 2% 2% !important;
  margin: 5% 0 !important;
}
#formLogin > * {
  width: 60%;
  border-radius: 10px;
  outline: none;
  height: 35px;
}
label {
  color: white;
  display: flex !important;
  align-items: end;
  font-style: italic;
}
.input {
  padding: 2% !important;
  background-color: var(--input-color);
  color: #fff;
}
.password {
  display: flex;
}
#password {
  width: 87%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  outline: none;
}
#showPassword {
  background-color: var(--input-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 13%;
}
#showPassword i {
  color: var(--button-color);
}
#message {
  width: 100%;
  color: #ffa938;
  display: flex;
  justify-content: center;
  align-items: center;
}
#submit {
  background-color: var(--button-color);
  border: none;
  width: 30%;
  margin: 1% auto !important;
}
.demande {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
