/* MAIN OU BODY A VOIR */
#container {
  background-color: var(--section-color);
  display: flex;
  justify-content: center;
  width: 95%;
  border-radius: 20px;
  margin: 1% 0 !important;
}
.form {
  width: 40%;
  display: flex;
  justify-content: center;
}
#formLogin {
  background-color: var(--div-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  padding: 2% 2% !important;
  margin: 5% 0 !important;
}
#formLogin > * {
  width: 60%;
  border-radius: 10px;
  outline: none;
  height: 35px;
}
#formLogin h3 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin: 2%;
  height: auto;
}
label {
  color: white;
  display: flex !important;
  align-items: end;
  font-style: italic;
}
.input {
  padding: 2% !important;
  background-color: var(--input-color);
  color: #fff;
}
.password {
  display: flex;
}
#password {
  width: 87%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  outline: none;
}
#showPassword {
  background-color: var(--input-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 13%;
}
#showPassword i {
  color: var(--button-color);
}
#message {
  width: 100%;
  color: #ffa938;
  display: flex;
  justify-content: center;
  align-items: center;
}
#submit {
  background-color: var(--button-color);
  border: none;
  width: 30%;
  margin: 1% auto !important;
}
.demande {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.demande a {
  color: var(--button-color);
}
@media screen and (max-width: 1440px) {
  #formLogin > * {
    width: 90%;
  }
}
@media screen and (max-width: 1040px) {
  .form {
    width: 60%;
  }
  #formLogin {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .form {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .demande {
    flex-direction: column;
    margin: 5% 0;
  }
}
