/* ! AJOUTER !important POUR TOUT CHANGEMENT DE padding OU DE margin */
main * {
  margin: 0 !important;
  padding: 0 !important;
  border: 1px dashed red;
}
#item {
  display: flex;
}
#imageItem {
  flex: 1;
}
#detailItem {
  flex: 1;
}
img {
  width: 100%;
}
