.categoryParentName{
  font-weight: bold;
  list-style: none;
}

.categoryChildDiv {
  display: none;
  margin-top: 12px;
  padding: 10px;
  background-color: #232b41;
  border: 1px solid;
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.categoryChildDivBlock {
  display: block;
  margin-top: 12px;
  border: 1px solid;
  border-color: #444b5d;
  border-radius: 10px;
  background-color: var(--div-color);
}

#container {
  display: flex !important;  
  flex-direction: column;
  width: 95%;
}
.tri{
  width: 93%;
  margin-top: 1em;
}
.triForm{
  display: flex;
  justify-content: end;
}
.catAndItems{
  display: flex;
}
main li {
  list-style: none;
}
.categoryParentRadio{
  display: none;
}
.resultParent{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
#container > form {
   width: 20%;
}

#filterDiv {
  width: 200px;
  margin-top: 16.5px!important;
  color: aliceblue;
  width: 200px;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.categoryParentDiv {
  margin-bottom: 12px !important;
  padding: 10px !important;
  border-radius: 10px;
  background-color:  var(--section-color);
}

#allItems{
 width: 80%;
}

.divImg {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemImg {
  width: 70%;
  border-radius: 12px;
  /* padding: 0.5em !important; */
}
.divGlobal {

  border-radius: 10px;
  margin: 1em !important;
  background-color:  #232b41;
}

.divGlobal a {
  display: flex;
  text-decoration: none;
  color: lightgray;
  width: 100%;
  padding: 1em !important;
}

.divNameDesc {
  /* margin-left: 30px !important; */
  width: 70%;
}
.divPrice {
  /* margin-left: 30px !important; */
  width: 15%;
  margin: auto !important;
  text-align: center;
  font-weight: bolder;
}
.itemPrice{
    font-size: 2em;
    color: #e26464;
}
.itemStock{
    font-size: 1em;
}
.itemName {
  font-weight: bolder;
}
.divGlobal .itemName {
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
.divGlobal:hover .itemName {
  color: red;
  transition: 0.3s;
}
.divGlobal:hover .itemImg {
  z-index: 0;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
.divGlobal .itemImg {
  z-index: 0;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
